#  Installing and importing packages

In [1]:
pip install betterreads

Requirement already satisfied: betterreads in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages (0.4.2)
Requirement already satisfied: xmltodict in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages/xmltodict-0.12.0-py3.7.egg (from betterreads) (0.12.0)
Requirement already satisfied: backports-datetime-fromisoformat in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages (from betterreads) (1.0.0)
Requirement already satisfied: rauth in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages/rauth-0.7.3-py3.7.egg (from betterreads) (0.7.3)
Requirement already satisfied: requests in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages (from betterreads) (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages (from requests->betterreads) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages (from requests->betterreads) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages (from requests->betterreads) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages (from requests->betterreads) (2.8)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
from betterreads import client
from goodreads_data_gather import helper

Gathering data...
[  728   977   992 ...  9998  9999 10000]
getting 1 out of missing 2354 descriptions
728,Brown Bear, Brown Bear, What Do You See?

# Data Gathering

In [2]:
h = helper()

Gathering data...

In [4]:
### Note : Only run this very first run so we can get the orginal books set

In [28]:
# books = pd.read_csv('../data/books.csv')
# print( f"shape of the books dataframe is {books.shape}")
# #We are going to add. 3 more columns and populate them using the GoodReads client
# books['description'] =np.nan
# books['num_pages'] =0
# books['e_book'] =False
# books.to_csv("../data/books_desc.csv", index=False)
# books.columns

shape of the books dataframe is (10000, 23)

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url', 'description', 'num_pages', 'e_book'],
      dtype='object')

In [3]:
books =pd.read_csv("../data/books_desc.csv")

ratings = pd.read_csv("../data/ratings.csv")
print( f"shape of the ratings dataframe is {ratings.shape}")

book_tags = pd.read_csv("../data/book_tags.csv")
print( f"shape of the books_tags dataframe is {book_tags.shape}")

tags = pd.read_csv("../data/tags.csv")
print( f"shape of the tags dataframe is {tags.shape}")

### Combining booktag ids with the actual names
pd.merge(left=book_tags,right =tags, how ="left", on ='tag_id')
book_tags.to_csv("../data/book_tags_combined",index =False)
book_tags = pd.read_csv("../data/book_tags_combined.csv")
books.head(1)

shape of the ratings dataframe is (5976479, 3)
shape of the books_tags dataframe is (999912, 3)
shape of the tags dataframe is (34252, 2)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,description,num_pages,e_book,is_ebook
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,"Could you survive on your own, in the wild, wi...",374,False,False

In [35]:
tags.head(1)

   tag_id tag_name
0       0        -

In [36]:
book_tags.head(1)

   goodreads_book_id  tag_id   count tag_name
0                  1   30574  167697  to-read

In [37]:
ratings.head(1)

   user_id  book_id  rating
0        1      258       5

In [38]:
### We are going to populate description , num_of_pages and is_ebook from goodreads Api

In [39]:
books =h.fill_missing_columns("../data/books_desc.csv",10)

[  728   977   992 ...  9998  9999 10000]
getting 10 out of missing 4102 descriptions
728,Brown Bear, Brown Bear, What Do You See?
977,Inferno
992,The Twilight Saga (Twilight, #1-4)
994,All Creatures Great and Small (All Creatures Great and Small, #1)
1108,The Complete Fairy Tales
1113,Thus Spoke Zarathustra
1329,Howl and Other Poems
1338,The Book of Mormon: Another Testament of Jesus Christ
1382,Anne Rice's The Vampire Lestat: A Graphic Novel
1432,The Communist Manifesto

585 books that are missing orig title, replace them with title
book = gc.book(3)
book.original_title

### Collecting  recent books  based on Denver DSI classmates reading preferences

In [40]:

# topics =['python','of Thrones','Patrick Rothfuss','A Song of Ice and Fire','Inspector Rebus',
#       'Data Science', 'mechine learning','Data Visualization','Robert T. Kiyosaki','BrenÃ© Brown',
#       'weapons of math destruction','Girl, Wash Your Face','recommender systems']
for topic in topics :
    df2 =h.get_books(topic)
    books = pd.concat([books,df2],sort=True)
books.reset_index(inplace=True, drop=True)  
books.to_csv("../data/books_desc.csv", index=False)

In [ ]:
### Collecting  recent books  based on COVID-19 outbreak

In [9]:
covid_df =pd.DataFrame()

In [13]:
topics =[ 'Pandemic']
for topic in topics :
    df =h.get_books(topic,strict=False)
    covid_df = pd.concat([covid_df,df],sort=True)
covid_df.reset_index(inplace=True, drop=True)  
covid_df.to_csv("../data/covid_19_books_desc.csv", index=False)

Downloading book Pandemic (The Extinction Files, #1) for topic Pandemic
Downloading book Pandemic for topic Pandemic
Downloading book Pandemic (Infected, #3) for topic Pandemic
Downloading book Spillover: Animal Infections and the Next Human Pandemic for topic Pandemic
Downloading book The Great Influenza: The Story of the Deadliest Pandemic in History for topic Pandemic
Downloading book Jag (Pandemic Sorrow, #1) for topic Pandemic
Downloading book The Jakarta Pandemic (The Perseid Collapse, #0.5) for topic Pandemic
Downloading book Pandemic (Jack Stapleton & Laurie Montgomery, #11) for topic Pandemic
Downloading book The China Pandemic (Graham's Resolution #1) for topic Pandemic
Downloading book Pandemic (Dr. Noah Haldane, #1) for topic Pandemic
Downloading book Pandemic: The Beginning (Pandemic #1) for topic Pandemic
Downloading book Rush (Pandemic Sorrow, #2) for topic Pandemic
Downloading book Pandemic: Tracking Contagions, from Cholera to Ebola and Beyond for topic Pandemic
Downloading book Pandemic (The Survivors #1) for topic Pandemic
Downloading book Pandemic (The Retreat, #1) for topic Pandemic
Downloading book Pandemic (Paul Richter, #2) for topic Pandemic
Downloading book Roxy (Pandemic Sorrow, #3) for topic Pandemic
Downloading book Beginnings (Pandemic #1) for topic Pandemic
Downloading book The Viral Storm: The Dawn of a New Pandemic Age for topic Pandemic
Downloading book Frozen Pandemic: Apocalypse for topic Pandemic

In [ ]:
topics =['covid-19','Corona Virus' 'CoronaVirus','Pandemic'

In [8]:
df2 =h.get_books('Pandemic',strict=False)
df2

Downloading book Pandemic (The Extinction Files, #1) for topic Pandemic
Downloading book Pandemic for topic Pandemic
Downloading book Pandemic (Infected, #3) for topic Pandemic
Downloading book Spillover: Animal Infections and the Next Human Pandemic for topic Pandemic
Downloading book The Great Influenza: The Story of the Deadliest Pandemic in History for topic Pandemic
Downloading book Jag (Pandemic Sorrow, #1) for topic Pandemic
Downloading book The Jakarta Pandemic (The Perseid Collapse, #0.5) for topic Pandemic
Downloading book Pandemic (Jack Stapleton & Laurie Montgomery, #11) for topic Pandemic
Downloading book The China Pandemic (Graham's Resolution #1) for topic Pandemic
Downloading book Pandemic (Dr. Noah Haldane, #1) for topic Pandemic
Downloading book Pandemic: The Beginning (Pandemic #1) for topic Pandemic
Downloading book Rush (Pandemic Sorrow, #2) for topic Pandemic
Downloading book Pandemic: Tracking Contagions, from Cholera to Ebola and Beyond for topic Pandemic
Downloading book Pandemic (The Survivors #1) for topic Pandemic
Downloading book Pandemic (The Retreat, #1) for topic Pandemic
Downloading book Pandemic (Paul Richter, #2) for topic Pandemic
Downloading book Roxy (Pandemic Sorrow, #3) for topic Pandemic
Downloading book The Viral Storm: The Dawn of a New Pandemic Age for topic Pandemic
Downloading book Beginnings (Pandemic #1) for topic Pandemic
Downloading book Frozen Pandemic: Apocalypse for topic Pandemic

,goodreads_book_id,authors,title,language_code,average_rating,ratings_count,description,num_pages,is_ebook
0,34811896,[A.G. Riddle],"Pandemic (The Extinction Files, #1)",eng,4.03,18609,"<b>Around the world, a deadly outbreak spreads...",0,True
1,18211018,[Yvonne Ventresca],Pandemic,eng,3.78,766,"Even under the most normal circumstances, high...",352,False
2,8087710,[Scott Sigler],"Pandemic (Infected, #3)",eng,4.22,4035,<b>The explosive conclusion to the New York Ti...,592,True
3,17573681,[David Quammen],Spillover: Animal Infections and the Next Huma...,eng,4.30,4952,<strong>â€œScience writing as detective story at...,592,False
4,29036,[John M. Barry],The Great Influenza: The Story of the Deadlies...,eng,3.96,17569,"At the height of WWI, historyâ€™s most lethal in...",546,False
5,23208864,[Stevie J. Cole],"Jag (Pandemic Sorrow, #1)",eng,3.93,1501,WARNING: This novel contains explicit language...,379,True
6,9632773,[Steven Konkoly],"The Jakarta Pandemic (The Perseid Collapse, #0.5)",eng,3.88,5401,"In the late fall of 2013, a lethal pandemic vi...",396,True
7,36674219,[Robin Cook],"Pandemic (Jack Stapleton & Laurie Montgomery, ...",eng,3.30,2223,<b><i>New York Times</i>-bestselling author Ro...,386,False
8,19160666,[A.R. Shaw],The China Pandemic (Graham's Resolution #1),en-US,4.01,1383,A pandemic virus has struck from China. <br />...,311,True
9,710698,[Daniel Kalla],"Pandemic (Dr. Noah Haldane, #1)",eng,3.75,1242,<b>Genesis of a Plague</b><br /><br />Right no...,0,False
10,45153728,[Christine Kersey],Pandemic: The Beginning (Pandemic #1),None,4.24,94,<b> If you like The Walking Dead but don't lik...,0,True
11,23379998,[Stevie J. Cole],"Rush (Pandemic Sorrow, #2)",eng,4.00,291,"Itâ€™s my job to play music, to make girls wet, ...",231,True
12,23847947,[Sonia Shah],"Pandemic: Tracking Contagions, from Cholera to...",eng,3.96,1539,Scientists agree that a pathogen is likely to ...,288,False
13,37830148,[Alex Burns],Pandemic (The Survivors #1),None,4.05,87,None,0,True
14,18892050,"[Craig DiLouie, Joe McKinney, Stephen Knight, ...","Pandemic (The Retreat, #1)",eng,3.88,544,The first episode in a new novella series by a...,0,True
15,2989650,"[James Barrington, Peter Stuart Smith]","Pandemic (Paul Richter, #2)",None,4.18,102,"The second high-adrenalin, techno-espionage in...",496,False
16,25190788,[Stevie J. Cole],"Roxy (Pandemic Sorrow, #3)",eng,4.31,155,"Standalone in the rock star romance series, Pa...",326,False
17,11129776,[Nathan Wolfe],The Viral Storm: The Dawn of a New Pandemic Age,None,3.77,1621,<b>Dynamic young Stanford biologist Nathan Wol...,320,False
18,35163233,[Bobby Akart],Beginnings (Pandemic #1),eng,4.26,734,None,392,True
19,43550764,[Chris Berkness],Frozen Pandemic: Apocalypse,None,4.11,142,None,0,True

In [13]:
books.columns

Index(['authors', 'average_rating', 'best_book_id', 'book_id', 'books_count',
       'description', 'e_book', 'goodreads_book_id', 'image_url', 'is_ebook',
       'isbn', 'isbn13', 'language_code', 'num_pages',
       'original_publication_year', 'original_title', 'ratings_1', 'ratings_2',
       'ratings_3', 'ratings_4', 'ratings_5', 'ratings_count',
       'small_image_url', 'title', 'work_id', 'work_ratings_count',
       'work_text_reviews_count'],
      dtype='object')

### Data Cleaning

In [14]:
###### How many of the  columns are missing data ?
books.isna().sum()

authors                         0
average_rating                  0
best_book_id                  137
book_id                       137
books_count                   137
description                  9990
e_book                        137
goodreads_book_id               0
image_url                     137
is_ebook                     9990
isbn                          837
isbn13                        722
language_code                1137
num_pages                       0
original_publication_year     158
original_title                722
ratings_1                     137
ratings_2                     137
ratings_3                     137
ratings_4                     137
ratings_5                     137
ratings_count                   0
small_image_url               137
title                           0
work_id                       137
work_ratings_count            137
work_text_reviews_count       137
dtype: int64

In [15]:
print(f"{len(books)}, {len(books[books['original_title'].isna()])},{len(books[books['original_title'] != books ['title']])}")
# Title seems to be including original title in all these cases, we are going to drop original_title
books[books['original_title'] != books ['title']][['goodreads_book_id','title','original_title']]

10137, 722,6152

,goodreads_book_id,title,original_title
0,2767052,"The Hunger Games (The Hunger Games, #1)",The Hunger Games
1,3,Harry Potter and the Sorcerer's Stone (Harry P...,Harry Potter and the Philosopher's Stone
2,41865,"Twilight (Twilight, #1)",Twilight
6,5907,The Hobbit,The Hobbit or There and Back Again
8,960,"Angels & Demons (Robert Langdon, #1)",Angels & Demons
...,...,...,...
10132,23876976,Recommender Systems,NaN
10133,41310766,Recommender System,NaN
10134,27136807,Social Network-Based Recommender Systems,NaN
10135,13379246,Recommender Systems for Social Tagging Systems,NaN
10136,13193927,Recommender Systems for the Social Web,NaN

In [16]:
#Drop columns that are not relevant for the recommender
# books = books.drop(['best_book_id','work_id','isbn13','isbn','original_title',
#                     'books_count','work_ratings_count','work_text_reviews_count',
#                     'image_url','small_image_url'], axis =1)

In [17]:
###### If the book description was empty ,  adding a string so that  Vecotrizer can  work with the data
books['description'] = books['description'].fillna('-')

In [18]:
books['original_publication_year'] = books['original_publication_year'].fillna(0).astype('int')
books['original_publication_year'].describe()

count    10137.000000
mean      1951.095492
std        288.437688
min      -1750.000000
25%       1989.000000
50%       2004.000000
75%       2011.000000
max       2017.000000
Name: original_publication_year, dtype: float64

In [19]:
books['language_code'] = books['language_code'].apply(lambda x : 'eng' if x in  ['eng','en-US','en-GB','en-CA'] else 'other')
books['language_code'].value_counts()

eng      8807
other    1330
Name: language_code, dtype: int64

In [20]:
books.loc[books['original_publication_year'] <0,'original_publication_year'] =0
def publication_year_categorize(original_publication_year):
    if original_publication_year >=2015 :
        return('2015-2020')
    elif original_publication_year >= 2010:
        return('2010-2014')
    elif original_publication_year >= 2000:
        return('2000-2013')
    elif original_publication_year >= 1990:
        return('1990-2000')
    elif original_publication_year >= 1950:
        return('1950-1990')
    elif original_publication_year >= 1:
        return('<1950')
    else:
         return('unknown')
books['publication_timeframe'] =books['original_publication_year'].map(publication_year_categorize)
books['publication_timeframe'].value_counts()

2000-2013    3121
2010-2014    2552
1950-1990    1586
1990-2000    1360
<1950         814
2015-2020     515
unknown       189
Name: publication_timeframe, dtype: int64

###### Are the books unique ?

we have books unique isbn numbers  but  they have similar titles.
I am little wary of this data set now. It might  be a good  for proof of concept but  we may need to get cleaner data

In [22]:
#De-duplicating the  records as we only care about title and content of the book , 
books_with_same_title = (books['title'].value_counts()  )
print(f"duplicate book count = {len(books_with_same_title.index[books_with_same_title >1])}")

dup_books =books_with_same_title.index[books_with_same_title >1]
dup_book_df = books[books['title'].isin(dup_books)]

books = books.groupby('title').agg(
                             {
                              'book_id':'first',
                              'goodreads_book_id':'first',
                              'authors':'first', 
                              'description' :'first',
                              'original_publication_year': 'first',
                              'language_code' :'first',
                              'average_rating':'mean',
                              'ratings_count': 'sum',                              
                              'num_pages':'first',
                              'is_ebook':'first',
                              'ratings_count':'first'
                              }).reset_index()

duplicate book count = 57

In [ ]:
##### Consolidate all childrens books under same category
tag_lst= book_tags[(book_tags['tag_name'].str.contains('children')) ]['tag_name'].to_list()
#consolidate_tags(['childhood-reads','kids','kids-books','childhood-books','childhood','childhood-favorites'],'childrens')
#consolidate_tags(list(set(tag_lst)),'childrens')



#tag_lst = book_tags[(book_tags['tag_name'].str.contains('history'))]['tag_name'].to_list()
#consolidate_tags(set(['war'] +tag_lst),'history')

#suspense
consolidate_tags(['suspense-thriller','thriller-mystery','thriller-suspense','mystery-thrillers','epic-fantasy','mystery-suspense-thriller','mystery-thriller-suspense'],'mystery-thriller')
#tag_lst= book_tags[(book_tags['tag_name'].str.contains('mystery'))]['tag_name'].to_list()
#consolidate_tags(tag_lst,'mystery-thriller')


tag_lst=set(book_tags[(book_tags['tag_name'].str.contains('novel'))]['tag_name'].to_list())
consolidate_tags(tag_lst,'novels')

tag_lst=set(book_tags[(book_tags['tag_name'].str.contains('memoir'))]['tag_name'].to_list())
consolidate_tags(tag_lst,'biography')

## Fiction
consolidate_tags(['teen','juvenile','youth','new-adult'],'young-adult')
consolidate_tags(['general-fiction','speculative-fiction','magic','literary-fiction','contemporary-fiction','modern-fiction','vampires','vampire','fiction-to-read'],'fiction')
consolidate_tags(['ya-fiction','harry-potter'],'fiction') 
#consolidate_tags(['sci-fi','scifi'],'science-fiction')
consolidate_tags(['teen-fiction','juvenile-fiction'],'young-adult-fiction')


consolidate_tags(['paranormal','paranormal-romance','paranormal-fantasy','fantasy-paranormal'],'supernatural') 

#consolidate_tags(['fantasy-sci-fi,sci-fi-fantasy','science-fiction-fantasy','fantasy-scifi','sci-fi-and-fantasy'],'scifi-fantasy') 
consolidate_tags(['urban-fantasy','ya-fantasy','high-fantasy','sf-fantasy','guilty-pleasures'],'fantasy')

consolidate_tags(['funny','humour','comedy','humorous'],'humor') 
consolidate_tags(['20th-century','19th-century','historicals'],'historical') 
 
consolidate_tags(['non-fiction','to-read-nonfiction','non-fic','nonfiction-to-read'],'nonfiction') 
consolidate_tags(['to-read-non-fiction','non-fiction-to-read'],'nonfiction') 


consolidate_tags(['thrillers'],'thriller')


consolidate_tags(['contemporary-romance'],'romance')
consolidate_tags(['urban-fantasy','ya-fantasy'],'fantasy')



consolidate_tags(['classic','literature','literary','classics','american-lit','american-literature','british-literature','chic-lit','kid-lit','chicklit','to-read-classics'],'classic-literature') 
consolidate_tags(['dystopia'],'dystopian')



consolidate_tags(['realistic'],'realistic-fiction')
consolidate_tags(['erotica','erotic'],'adult-romance')
consolidate_tags(['modern'],'contemporary')

In [29]:
book_tags = pd.read_csv("../data/book_tags_combined.csv")
###### Consolidate all Audio tags under same category
def consolidate_tags(tag_lst,target_tag):
    target_tag_id = book_tags[book_tags['tag_name']==target_tag]['tag_id'].values[0]  
    l= book_tags[(book_tags['tag_name'].isin(tag_lst))]['tag_name'].to_list()
    print(f"replacing {len(l)} tags with {target_tag}, tag_id= {target_tag_id}")
    book_tags['tag_name']= book_tags['tag_name'].apply(lambda x : target_tag if x in tag_lst else x)
    book_tags.loc[book_tags['tag_name'] ==target_tag,'tag_id']= target_tag_id 
consolidate_tags(['teen','juvenile','youth','new-adult'],'young-adult')

replacing 4407 tags with young-adult, tag_id= 33114

In [31]:
book_tags = pd.read_csv("../data/book_tags_combined.csv")

In [27]:
books.to_csv("../data/books_desc.csv", index=False)

######  references
https://pypi.org/project/Goodreads/

https://betterreads.readthedocs.io/en/latest/

Kaggle data source : https://www.kaggle.com/zygmunt/goodbooks-10k

data set location : https://github.com/zygmuntz/goodbooks-10k

#https://pandas.pydata.org/pandas-docs/stable/reference/groupby.html