###  installing and importing packages

In [31]:
pip install betterreads

Requirement already satisfied: betterreads in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages (0.4.2)
Requirement already satisfied: requests in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages (from betterreads) (2.22.0)
Requirement already satisfied: rauth in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages/rauth-0.7.3-py3.7.egg (from betterreads) (0.7.3)
Requirement already satisfied: backports-datetime-fromisoformat in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages (from betterreads) (1.0.0)
Requirement already satisfied: xmltodict in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages/xmltodict-0.12.0-py3.7.egg (from betterreads) (0.12.0)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages (from requests->betterreads) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages (from requests->betterreads) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages (from requests->betterreads) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/mybiyani/opt/anaconda3/lib/python3.7/site-packages (from requests->betterreads) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [51]:
import pandas as pd
import numpy as np
from betterreads import client
from goodreads_data_gather import helper

###  Data collection approach

I am starting with a Kaggle dataset from  https://www.kaggle.com/zygmunt/goodbooks-10k

# TODO < include > eda


additional data collection for 
*Book description 
*number of pages
*is_book_enum

In [52]:
#  Get the API keys here https://www.goodreads.com/api/keys
gc = client.GoodreadsClient('zIHHGGHATvYay6dTTZ1AqA',
                            'xFiCr7PBabSezd7zpXhqNyvsIDFfoX4ftC6Pww7v2g')

In [53]:
h = helper()

in constructor

In [54]:
books = pd.read_csv('../data/books.csv')
print( f"shape of the books dataframe is {books.shape}")
ratings = pd.read_csv("../data/ratings.csv")
print( f"shape of the books dataframe is {ratings.shape}")
book_tags = pd.read_csv("../data/book_tags.csv")
print( f"shape of the books dataframe is {book_tags.shape}")
tags = pd.read_csv("../data/tags.csv")
print( f"shape of the books dataframe is {tags.shape}")
books.head(1)

shape of the books dataframe is (10000, 23)
shape of the books dataframe is (5976479, 3)
shape of the books dataframe is (999912, 3)
shape of the books dataframe is (34252, 2)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...

In [55]:
tags.head(1)

   tag_id tag_name
0       0        -

In [56]:
book_tags.head(1)

   goodreads_book_id  tag_id   count
0                  1   30574  167697

In [57]:
ratings.head(1)

   user_id  book_id  rating
0        1      258       5

In [58]:
book_tags =pd.merge(left =book_tags,right=tags, how="left")
book_tags.head(1)

   goodreads_book_id  tag_id   count tag_name
0                  1   30574  167697  to-read

In [59]:
book_tags['tag_name'].value_counts().head(5)

to-read              9983
favorites            9881
owned                9858
books-i-own          9799
currently-reading    9776
Name: tag_name, dtype: int64

In [60]:
books.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url'],
      dtype='object')

In [61]:
books.isna().sum()

book_id                         0
goodreads_book_id               0
best_book_id                    0
work_id                         0
books_count                     0
isbn                          700
isbn13                        585
authors                         0
original_publication_year      21
original_title                585
title                           0
language_code                1084
average_rating                  0
ratings_count                   0
work_ratings_count              0
work_text_reviews_count         0
ratings_1                       0
ratings_2                       0
ratings_3                       0
ratings_4                       0
ratings_5                       0
image_url                       0
small_image_url                 0
dtype: int64

585 books that are missing orig title, replace them with title
book = gc.book(3)
book.original_title

In [62]:
len(books), len(books[books['original_title'].isna()]),len(books[books['original_title'] != books ['title']])

(10000, 585, 6015)

In [63]:
books[books['original_title'] != books ['title']][['goodreads_book_id','title','original_title']]

,goodreads_book_id,title,original_title
0,2767052,"The Hunger Games (The Hunger Games, #1)",The Hunger Games
1,3,Harry Potter and the Sorcerer's Stone (Harry P...,Harry Potter and the Philosopher's Stone
2,41865,"Twilight (Twilight, #1)",Twilight
6,5907,The Hobbit,The Hobbit or There and Back Again
8,960,"Angels & Demons (Robert Langdon, #1)",Angels & Demons
...,...,...,...
9988,13489518,"Out of the Dark (The Grey Wolves, #4)",Out of the Dark
9991,13616278,"The Red Knight (The Traitor Son Cycle, #1)",The Red Knight
9992,4936457,The Time Traveller's Guide to Medieval England...,The Time-Traveller's Guide to Medieval England...
9995,7130616,"Bayou Moon (The Edge, #2)",Bayou Moon
9996,208324,"Means of Ascent (The Years of Lyndon Johnson, #2)",Means of Ascent

In [64]:
#Drop columns that are not relevant for the recommender
books = books.drop(['best_book_id','work_id','isbn13','isbn','original_title',
                    'books_count','work_ratings_count','work_text_reviews_count',
                    'image_url','small_image_url'], axis =1)

In [65]:
books['description'] =np.nan
books['num_pages'] =0
books['e_book'] =False

In [66]:
missing_desc_books = h.get_book_id_list_for_missing_column(books,'description')
missing_desc_books

array([    1,     2,     3, ...,  9998,  9999, 10000])

In [67]:
for i in missing_desc_books[1:2]:
    goodreads_book_id = books.loc[books['book_id'] == i,'goodreads_book_id'].values[0]
    try:
        book_obj= h.get_book(goodreads_book_id)
        print( f"{i},{book_obj}")
        books.loc[books['book_id'] == i,'description']= book_obj.description
        try:
            books.loc[books['book_id'] == i,'num_pages']=  book_obj.num_pages
        except:
            books.loc[books['book_id'] == i,'num_pages']=  0

        books.loc[books['book_id'] == i,'is_ebook']=book_obj.is_ebook  
    except:
        books.loc[books['book_id'] == i,'num_pages']=  0
        books.loc[books['book_id'] == i,'description'] =""
        books.loc[books['book_id'] == i,'is_ebook'] =False
        print(f"failed to parse {i}")

2,Harry Potter and the Sorcerer's Stone (Harry Potter, #1)

In [68]:
len(books[books['description'].isna()])

9999

In [13]:
books.to_csv("../data/books_desc.csv", index=False)

######  references
https://pypi.org/project/Goodreads/

https://betterreads.readthedocs.io/en/latest/

Kaggle data source : https://www.kaggle.com/zygmunt/goodbooks-10k

https://github.com/zygmuntz/goodbooks-10k

In [5]:
import requests
import csv
from bs4 import BeautifulSoup as bs
import urllib
import os
def scrape_and_run(genre):
    # scrape on goodreads.com using desire genre type or keyword
    # and save the titles and autors in a csv file
    page = requests.get("https://www.goodreads.com/shelf/show/" + genre)
    soup = bs(page.content, 'html.parser')
    titles = soup.find_all('a', class_='bookTitle')
    authors = soup.find_all('a', class_='authorName')


    image_dir = os.getcwd() + "/images/" + genre

    ## check if the desire genre path exists
    ## create a new one if it doesnt
    if not os.path.exists(image_dir):
        os.makedirs(image_dir)

    with open(genre + '.csv', 'w') as csvfile:
        fieldnames = ['title', 'author']
        csv_write = csv.DictWriter(csvfile, fieldnames=fieldnames)
        books_save = 0

        for title, author in zip(titles, authors):

            try:
                ## single book page
                book_page = requests.get("https://www.goodreads.com" + title['href'])
                soup = bs(book_page.content, 'html.parser')
                # get image id
                image = soup.find('img', id='coverImage')

                title_name = title.get_text()

                save_dir = image_dir + "/" + title_name
                urllib.request.urlretrieve(image['src'], save_dir)

                csv_write.writerow({'title': title_name, 'author': author.get_text()})
                books_save += 1
                ## error handelling for long file names
            except OSError as exc:
                if exc.errno == 36:
                    print(exc)

        print("%d %s books saved." % (books_save, genre)) # books count feedback



# if __name__ == '__main__':

#     ## run ifinite till user tells you to stop
#     ## to avoid having to compile again and again
#     while True:
#         genre = input("Enter the genre (or quit to stop): ").lower() # input case lowered
#         if(genre == "quit"):
#             break
#         else:
#             print("ELSE FIRED!");
genre='fantasy'            
scrape_and_run(genre)

50 fantasy books saved.